<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Webapi -->
    <preference for="Crimson\ProductSearch\Api\SearchInterface" type="Crimson\ProductSearch\Model\Search" />
</config>